# Documentation static site generator & deployment tool
mkdocs>=1.5.3

# Add your custom theme if not inside a theme_dir
# (https://github.com/mkdocs/mkdocs/wiki/MkDocs-Themes)
#  mkdocs-material>=5.4.0
mkdocs-shadcn>=0.4.0
accessible-pygments>=0.0.4
mkdocstrings[python]>=0.26.1
mypy>=1.12.0
pre-commit>=3.5.0
pygments>=2.19.1
pymdown-extensions>=10.14.2
ruff>=0.12.11
ty>=0.0.1a21
types-markdown>=3.7.0.20241204
types-pygments>=2.19.0.20250107
